[submodule "PatchBasedInpainting"]
	path = PatchBasedInpainting
	url = https://github.com/daviddoria/PatchBasedInpainting.git
[submodule "PoissonEditing"]
	path = PoissonEditing
	url = https://github.com/daviddoria/PoissonEditing.git
[submodule "PTXTools"]
	path = PTXTools
	url = https://github.com/daviddoria/PTXTools.git
[submodule "SmallHoleFiller"]
	path = SmallHoleFiller
	url = https://github.com/daviddoria/SmallHoleFiller.git
